In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

In [4]:
data = pd.read_csv("../data/new/monthly_dataset.csv")
print(data.shape)
data.head()

(10913804, 6)

,date_block_num,shop_id,item_id,item_cnt_month,item_category_id_x,item_category_id_y
0,0,59,22154,1.0,37,37
1,0,59,2552,0.0,58,58
2,0,59,2554,0.0,58,58
3,0,59,2555,0.0,56,56
4,0,59,2564,0.0,59,59

In [14]:
data = data.sort_values(["shop_id", "item_id", "date_block_num"])

In [15]:
data["lag_1"] = (
    data
    .groupby(["shop_id", "item_id"])["item_cnt_month"]
    .shift(1)
)

In [16]:
train_data = data[data["date_block_num"] < 33]
valid_data = data[data["date_block_num"] == 33]

In [17]:
y_true = valid_data["item_cnt_month"]
y_pred = valid_data["lag_1"].fillna(0)

In [25]:
mse = mean_squared_error(y_true, y_pred)
rmse = np.sqrt(mse)
rmse

np.float64(1.1714459335072096)

In [26]:
#Chequeo rÃ¡pido

(y_pred == 0).mean()
(y_pred - y_true).describe()

count    238172.000000
mean         -0.016425
std           1.171333
min         -20.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          20.000000
dtype: float64